.comment-form-container{
    display: flex; 
    height: 40px; 
    padding: 0px 5px; 
    background: #f2f2f2;
    border: 1px solid #e5e5e5;
    align-items: center; 
    margin-bottom: 10px; 
}

.comment-profile-pic{
    height: 40px; 
    width: 40px; 
    z-index: 20; 
}

.comment-input{
    width: 100%; 
    border-radius: 4px;
    height: 27px;
    font-size: 14px; 
    font-family: "Interstate","Lucida Grande","Lucida Sans Unicode","Lucida Sans",Verdana,Tahoma,sans-serif;
    padding: 0 9px; 
    margin-left: 5px; 
    color: #333; 
}
.comment-idx-item{
    width: 100%; 
    display: flex; 
    padding: 10px 10px 10px 0;
}

.comment-item-img{
    width: 40px;
    height: 40px;
    border-radius: 50%; 
    margin-right: 10px; 
}

.comment-item-middle{
    display: flex;
    flex-direction: column;
}

.comment-item-artist-link{
    color: #999;
    font: 12px/1.4 "Lucida Grande","Lucida Sans Unicode","Lucida Sans",Garuda,Verdana,Tahoma,sans-serif;
}

.comment-item-body{
    font: 12px/1.4 "Lucida Grande","Lucida Sans Unicode","Lucida Sans",Garuda,Verdana,Tahoma,sans-serif;
    color: #333;
}

.comment-item-right{
    right: 0; 
    margin-left: auto; 
    display: flex;
    flex-direction: column;  
}

.comment-item-right:hover .comment-delete{
    visibility: visible;
}

.comment-item-date{
    color: #999;
    font: 12px/1.4 "Lucida Grande","Lucida Sans Unicode","Lucida Sans",Garuda,Verdana,Tahoma,sans-serif;
}

.comment-delete{
    visibility: hidden;
    font-size: 11px;
    height: 22px;
    line-height: 16px;
    border: 1px solid #e5e5e5;
    border-radius: 3px;
    width: 25px;    
    margin-left: auto;  
}



