/* .greeting-container {
    background: lightgray;
} */
.full-header {
  height: 50px;
  background-color: #333333;
  color: #CBCCCB;
  display: flex;
  align-items: center;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
} 

.functional-header {
    display: flex;
    flex-direction: row;
    width: 75%;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
}

.newsoundcloud2logo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    left: 50px;
    background-color: #ffffff;   
    height: 49px;
     border-bottom: solid 1px #333333; 
}

#soundcloud2logo {
    object-fit: cover;
    width: 69px;
    height: 69px;
    /* background-position-y: 50%; */
    /* background-color: white;
    border-bottom: solid 1px #333333; */
}

.rightnavbar{
    display: flex;
    /* margin-right: 20px; */
}

.dropdowncontent{
    display: flex;
}

.logout-button{
    display: flex;
}

#dropdowncontent {
  display: block;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}