/* .greeting-container {
    background: lightgray;
} */
.full-header {
  height: 50px;
  width: 100%; 
  background-color: #333333;
  color: #CBCCCB;
  display: flex;
  align-items: center;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 199;
} 

.functional-header {
    display: flex;
    flex-direction: row;
    width: 85%;
    max-width: 1280px;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
}

.greeting-left{
  display: flex;
}

.home-button-div{
  width: 106px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-right: 1px solid #111;
  box-sizing: border-box;
}
.home-button{
  text-decoration: none;
  font-family: "Interstate","Lucida Grande","Lucida Sans Unicode","Lucida Sans",Verdana,Tahoma,sans-serif;
  color:  #ccc;
  width: 100%;

}

.home-button:hover {
  color: #ffffff
}

.upload-button-div{
  width: 64px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-sizing: border-box;
}
.upload-button{
  text-decoration: none;
  font-family: "Interstate","Lucida Grande","Lucida Sans Unicode","Lucida Sans",Verdana,Tahoma,sans-serif;
  color: #ccc;
  width: 100%;
}

.upload-button:hover{
  color: #ffffff; 
}

.newsoundcloud2logo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    left: 50px;
    background-color: #ffffff;   
    height: 49px;
     border-bottom: solid 1px #333333; 
}

#soundcloud2logo {
    object-fit: cover;
    width: 69px;
    height: 69px;
    /* background-position-y: 50%; */
    /* background-color: white;
    border-bottom: solid 1px #333333; */
}

.rightnavbar{
  display: flex;
}

.dropdown-container-two{
  width: 45px;
  height: 50px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  outline: none; 
}

button{
  outline: none; 
}

.dropdown-container-two.clicked{
    background-color: #111;
    outline: none; 
}

.dropdown-container-two > .dropDownTwoContent {
  width: 100%;
  display: flex;
  justify-content: center;
  border: none;
  color: #ccc;
  background: transparent;
}

.dropDownTwoContent:hover{
  color: #ffffff
}

.dropdown-container-two > .dropDownTwoContent.clicked{
  /* background-color: #111; */
} 


#DropDownTwo{
  padding-left: 0px;
  padding-right: 0px;
}

.dropdown-container-two .dropdowntwo-content{
  display: none;
  height: auto;
  position: absolute;
  z-index: 1  ;
  right: 0;
  top: 50px;
}

.dropdown-container-two .dropdowntwo-content.show{
  display: block;
}

.logout-button {
  width: 140px;
  height: 30px;
  line-height: 30px;
  text-align: left;
  font: 12px/1.4 "Lucida Grande","Lucida Sans Unicode","Lucida Sans",Garuda,Verdana,Tahoma,sans-serif;
  align-self: left; 
  background-color: #111;
  border: none;
  color: #ccc;
}

.logout-button:hover{
  color: #ffffff; 
}


.logout-button:hover {

}

/* 
#dropdowncontent {
  display: block;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
} */





