.playbar-full{
    position: fixed;
    bottom: 0;
    height: 50px;
    width: 100%;
    background-color: #f2f2f2;
    border-top: 1px solid #cecece;
    position: fixed;    
}

.playbar-contents{
    height: 100%;
    width: 85%;
    max-width: 1280px;
    margin: 0 auto; 
    display: flex;
    vertical-align: center;       
}

.playbar-left{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 10%;
}
.playbar-buttons{
    height: 100%;
    display: flex;
    align-items: center; 
}

.rewindButton{
    width: 24px;
    margin: 0 0 0 12px;
}

.rewind-button{
    float: left; 
}

.play-button{
    width: 24px;
    border: 0;      
    text-shadow: none;
    color: transparent;
    padding: none;
    background: transparent;
    text-decoration: none;
    outline: none;
    cursor: pointer;
    margin: 0 0 0 12px;
}

.fastforwardButton{
    width: 24px;
    margin: 0 0 0 12px;
}

.fastforward-button{
    float: right;
}

.playbar-middle{
    width: 50%;
    text-align: right; 
}