.playbar-full{
    position: fixed;
    bottom: 0;
    height: 50px;
    width: 100%;
    background-color: #f2f2f2;
    border-top: 1px solid #cecece;
    position: fixed;    
}

.playbar-contents{
    height: 100%;
    width: 85%;
    max-width: 1280px;
    margin: 0 auto; 
    display: flex;
    vertical-align: center;       
}

.playbar-left{
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-width: 7%;
}
.playbar-buttons{
    height: 100%;
    display: flex;
    align-items: center; 
}

.rewindButton{
    width: 24px;
    margin: 0 0 0 12px;
}

.rewind-button{
    float: left; 
}

.play-button{
    width: 24px;
    border: 0;      
    text-shadow: none;
    color: transparent;
    padding: none;
    background: transparent;
    text-decoration: none;
    outline: none;
    cursor: pointer;
    margin: 0 0 0 8px;
    font-size: 12px; 
}

.fastforwardButton{
    width: 24px;
    margin: 0 0 0 8px;
}

.fastforward-button{
    float: right;
}

.playbar-middle{
    min-width: 70%;
    font-size: 11px;
    font-family: "Interstate","Lucida Grande","Lucida Sans Unicode","Lucida Sans",Garuda,Verdana,Tahoma,sans-serif;
    /* text-align: right;  */
    display: flex; 
    /* justify-content: center;  */
    vertical-align: center; 
    align-items: center; 
}

.playbar-current-time{
    color: #FF5500; 
    margin-right: 10px; 
    width: 100px;  
    text-align: right; 
}

.playbar-song-duration{
    margin-left: 10px; 
    width: 50px; 
}

progress[value]{
    -webkit-appearance: none;
  appearance: none;
  background-color: lightgray;
  color: #FF5500;
  height: 3px;
  min-width: 70%;
  cursor: pointer;
}

progress[value]::-webkit-progress-bar {
  background-color: lightgray;
  color: #FF5500;
}

progress::-webkit-progress-value {
  background-color: #FF5500;
}

.volume-icon{
    width: 24px;
    border: 0;      
    text-shadow: none;
    color: transparent;
    padding: none;
    background: transparent;
    text-decoration: none;
    outline: none;
    cursor: pointer;
    margin: 0 0 0 8px;
    font-size: 16px; 
}

.player-right{
    min-width: 23%;
    display: flex; 
    align-items: center; 
}

.song-player-right-right{
    display: flex;
    flex-direction: column; 
}

.player-photo-container{
    margin-right: 16px; 
}

.song-player-photo{
    height: 37px;
    width: 37px; 
}

.player-artist-name{
    color: #999;
    font-size: 11px;
    font-family: "Lucida Grande","Lucida Sans Unicode","Lucida Sans",Garuda,Verdana,Tahoma,sans-serif;
    line-height: 16px; 
}

.player-song-name{
    text-decoration: none;
    font-size: 11px;
    color: #666;
    font-family: "Lucida Grande","Lucida Sans Unicode","Lucida Sans",Garuda,Verdana,Tahoma,sans-serif;
    line-height: 16px; 
}


