.container-splash {
  width:100%;
  background-color: lightgray;
}

.splash-background {
  width: 75%;
  min-height: 100vh;
  margin: 0 auto;
}
.splash-banner {
  border-top:5px solid #FF5000;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  /* background-image: url('../../images/idk.jpg') */
}



/* Header for Splash Page */

.splash-header {
    width: 100%;
    display: flex;
    align-self: flex-start;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    height: 50px;
    z-index: 2;
    margin-top: 15px;
}

.splash-soundcloud2logo-box {
    /* display: flex; */
    /* align-items: center;
    vertical-align: center; */
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 35px;
}

#logotext {
    font-family: "Lucida Grande";
    font-size: 14px;
    font-weight: bold;
    flex-direction: row;
    align-items: center; 
    margin: 0px;
    padding: 1px; 
    vertical-align: center;
      
}

#splash-soundcloud2logo {
    width: 40px;
    height: 40px;
    /* position:relative; */
}

.splash-loginbuttons {
   margin-right: 35px;
}

.splash-loginbutton {
   white-space: nowrap;
   margin: 0 5px;
   border-radius: 5px;
   font-weight: 100;
   cursor: pointer;
   font-family: "Lucida Grande";
   font-size: 14px;
   padding: 8px 20px;
   position: relative;
   background-color: transparent;
}

.splash-createaccountbutton {
   white-space: nowrap;
   margin: 0 5px;
   border-radius: 5px;
   font-weight: 100;
   cursor: pointer;
   font-family: "Lucida Grande";
   font-size: 14px;
   background-color: #FF5000;
   padding: 8px 25px;
   position: relative;
   border: solid 1px #FF5000;
}

/* Background Content for Splash Page */

.splash-background-text{
  position: absolute;
  font-family: "comic sans"
}

.splash-background-text *{
  font-family: "Lucida Grande"
}


.demobutton {
  display: flex;
  justify-content: center;
}

#demo-login {
  white-space: nowrap;
   border-radius: 5px;
   cursor: pointer;
   font-family: "Lucida Grande";
   font-size: 14px;
   background-color: #FF5000;
   padding: 3px;
   position: relative;
   border: solid 1px #FF5000;
   margin: 0 auto;
}

#splash-image {
  width: 100%;
  height: 100%;
  /* align-self: flex-start; */
}

#test {
  padding-top: 2000px;
  margin-top: 2000px;
  background-color: pink;
}