
.full-page{
    height: 100%;
    background: #f2f2f2;
    /* display: flex;
    flex-direction: column;
    position: relative; */
}

#upload-header{
    font-family: "Interstate","Lucida Grande","Lucida Sans Unicode","Lucida Sans",Garuda,Verdana,Tahoma,sans-serif;
    font-weight: 100;
    font-size: 24px;
    -webkit-font-smoothing: antialiased;
    color: #ff5500;
    margin: 0 auto;
    padding: 5px;

}
.container-main-upload{
    background: white;
    display: flex;
    width: 85%;
    max-width: 1280px;
    /* height: 767px; */
    margin: 0 auto;
    padding-top: 50px;
    padding-bottom: 50px;
    justify-content: center;
}

.upload-form-box {
    width: 60%;
    height: 65%;
    display: inline;  
    padding: 20px;
    box-shadow: 0 2px 12px -5px rgba(0,0,0,.1);
    border: 1px solid #f2f2f2;
    margin-top: 20px;
    justify-content: space-between;

}

.formuploadbox{
}

#preview-photo-container {
    max-height: 100%;
    max-width: 100%;
}

.song-photo-preview {
    width: 260px;
    height: 260px;
    object-fit: cover;
}


.form-elements{
    border-top: 1px solid #ff5500;
    display: flex;
}

.form-elements *{
    font-family: "Interstate","Lucida Grande","Lucida Sans Unicode","Lucida Sans",Garuda,Verdana,Tahoma,sans-serif;
}

.left-upload{
    width: 30%;
    display: block;
    padding: 25px;  
}

/* .label1{
    margin: 0;
} */

.right-upload{
    width: 70%;
    display: flex;
    flex-direction: column;
    padding: 25px;
    /* justify-content: center; */
}

.left-upload input{
    padding: 0;
}

.right-upload input{
    width: 100%;
    font-size: 14px;
}

.right-upload label {
    padding-left: 10px;
}

.right-upload * {
    font-size: 12px;
    font-family: "Interstate","Lucida Grande","Lucida Sans Unicode","Lucida Sans",Garuda,Verdana,Tahoma,sans-serif; 
}

.red{
    color: red;
}

#upload-title{
    padding-top: 4px;
    padding-bottom: 4px;
    margin: 4px auto;
    font-size: 14px;
    width: 100%;
}

#genre-container{
    padding: 10px 10px 10px 10px;
}

#genre{
    width: 50%;
    margin: 4px auto;
    padding: 4px;
    font-size: 14px;
}
#description-container{
    padding-top: 20px;
    margin: 0px 0px 6px;
}
#upload-description{
    font-size: 14px;
    height: 130px;
    width: 100%;
    margin-top: 10px;
    font-size: 14px;
    font-family: "Interstate","Lucida Grande","Lucida Sans Unicode","Lucida Sans",Garuda,Verdana,Tahoma,sans-serif;
}
.left-upload p{
    font-size: 12px;
    font-family: "Interstate","Lucida Grande","Lucida Sans Unicode","Lucida Sans",Garuda,Verdana,Tahoma,sans-serif;
}


.form-buttons{
       text-align: right;
    padding-right: 10px;
    margin-bottom: 15px;
    position: relative;
    object-fit: contain;
}

.loading-button{
    text-align: right;
    padding-right: 10px;
    margin-bottom: 15px;
    position: relative;
    object-fit: contain;
}

#cancel{
    font-size: 14px;
   background-color: white;
   color: black;
   position: relative;
   -webkit-font-smoothing: antialiased;
   padding: 2px 8px 2px 8px;
   border: 0;
   border-radius: 5px;
   cursor: pointer;
   margin-right: 4px;
}
#save{
    color: white;
    font-family: "Interstate","Lucida Grande","Lucida Sans Unicode","Lucida Sans",Garuda,Verdana,Tahoma,sans-serif;
   font-size: 14px;
   background-color: #FF5000;
   position: relative;
   border: solid 1px #FF5000;
   -webkit-font-smoothing: antialiased;
   padding: 2px 11px 2px 10px;
   border-radius: 5px;
   cursor: pointer;
}

.spinner{
   animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}