.full-user-show-container{
    width: 85%;
    max-width: 1280px;
    height: 900px;
    background: white;
    display: flex;
    margin: 0 auto;
    padding-top: 50px;
    flex-direction: column;
}

.user-banner{
    height: 260px; 
    position: relative;
    display: flex; 
}

.user-banner-contents{
    height: 100%; 
    position: absolute;
    z-index: 10;
}

.user-banner-left{
    height: 100%; 
    display: flex; 
    align-items: center; 
    padding-left: 25px;  
}

.profile-photo-container{
    height: 200px;
    width: 200px; 
}

.profile-photo{
    height: 100%;
    width: 100%; 
    border-radius: 50%; 
    position: relative; 
}

.user-info{
    height: 200px;
    min-width: 200px;
    padding-left: 30px; 
}

.username{
    font-size: 24px;
    font-family: "Interstate", "Lucida Grande","Lucida Sans Unicode","Lucida Sans",Garuda,Verdana,Tahoma,sans-serif;
    text-decoration: none;
    color: #fff;
    background-color: rgba(0,0,0,.8);
    padding: 2px 7px 3px;
    margin-top: 25px;
    width: max-content;
}

.update-image-button{
    font-family: "Interstate","Lucida Grande","Lucida Sans Unicode","Lucida Sans",Garuda,Verdana,Tahoma,sans-serif;
    display: inline-block;
    position: relative;
    height: 26px;
    padding: 2px 11px 2px 10px;
    border: 1px solid #e5e5e5;
    border-radius: 3px;
    background-color: #fff;
    cursor: pointer;
    color: #333;
    font-size: 14px;
    line-height: 20px;
    white-space: nowrap;
    font-family: "Interstate","Lucida Grande","Lucida Sans Unicode","Lucida Sans",Garuda,Verdana,Tahoma,sans-serif;
    font-weight: 100;
    text-align: center;
    
}

.update-prof-pic-input{
    display: none; 
}