.full-user-show-container{
    width: 85%;
    max-width: 1280px;
    height: 900px;
    background: white;
    display: flex;
    margin: 0 auto;
    padding-top: 50px;
    flex-direction: column;
}

.user-banner{
    height: 260px; 
    position: relative;
    display: flex; 
}

.user-banner-contents{
    height: 100%; 
    position: absolute;
    z-index: 10;
}

.user-banner-left{
    height: 100%; 
    display: flex; 
    align-items: center; 
    padding-left: 25px;  
}

.profile-photo{
    height: 200px;
    width: 200px; 
    border-radius: 50%; 
}

.user-info{
    height: 200px;
    min-width: 200px;
    padding-left: 30px; 
}

.username{
    font-size: 24px;
    font-family: "Interstate", "Lucida Grande","Lucida Sans Unicode","Lucida Sans",Garuda,Verdana,Tahoma,sans-serif;
    text-decoration: none;
    color: #fff;
    background-color: rgba(0,0,0,.8);
    padding: 2px 7px 3px;
    margin-top: 25px;
    width: max-content;
}